name: My First GitHub Actions  # Workflow name

# When this workflow should run
on: [push]  # triggers on any push

jobs:
  build-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: tree
